.breadcrumbs {
  padding: 2em 0;
  text-align: center;
  .nav-link {
    line-height: $navbar-height;
    font-size: 13px;
    font-weight: 600;
    font-stretch: extra-expanded;
  }
  .nav-link:last-child:hover{
    text-decoration: none !important;
    cursor:default;
  }
  .currentNode {
    opacity : 0.7;
  }
}

img {
  width: 100%;
}

.product-details {
  text-align: center;

  .title{
    font-size: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    text-overflow: initial;
    overflow:visible;
    white-space: normal;
  }

  .actions{
    width: 315px;
    margin: 0 auto;
    .incrdcr, button {
      float: left;
    }
    button {
      width: 146px;
      height:55px;
    }
  }

  @extend .chkoutcounter;
  
}
