<div ng-repeat="product in products" class="cart-item">

  <img src="images/{{product.image}}">
  <a class="remove-icon noselect removeProductCheckoutPoup" href="#" title="Remove"
          ng-click="removeProductFromCart(product.id)">X</a>
  <p class="strong">
    {{product.title}}</p>
  <p class="checkoutProductCount">
    x {{product.count}}</p>
  <p class="checkoutProductBrand">
    {{product.brand}}</p>
  <p class="checkoutProductPrice">
    {{product.price | currency:USD}}</p>

  
</div>
<div ng-if="products.length == 0" class="cart-item">
  <br>
  <p>The cart is empty.</p>
  <br>
</div>

<div class="actions">
  <div>
    <p class="pull-right">{{getTotal() | currency:USD}}</p>
    <p>Total</p>
   
  </div>
  <a class="button" routerLink="/cart" (click)="close($event)">View Cart</a>
  <button class="button-primary u-pull-right"
    [disabled]="products.length === 0"
    (click)="checkout()">Checkout</button>
  
</div>



